<!DOCTYPE html>
<html>
<head>
	<title>New Rabbit</title>
</head>
<body>
<form action="/rabbits" method="post">
	<p><label>Name: </label><input type="text" name="name"></p>
	<p><label>Age: </label><input type="number" name="age"></p>
	<p><label>Color: </label><input type="text" name="color"></p>
	<p><input type="submit" value="Add new rabbit!"></p>
</form>
</body>
</html>