<!DOCTYPE html>
<html>
<head>
	<title>QuotingDojo</title>
</head>
<body>
<h1>Welcome to QuotingDojo</h1>
<form action="/quotes" method="post">
	<p><label>Your name: </label><input type="text" name="name"></p>
	<p><label>Your quote: </label><textarea name="quote" rows="10" cols="50"></textarea></p>
	<p><input type="submit" value="Add my quote!"></p>
</form>
<a href="/quotes"><button>Skip to qutoes!</button></a>
</body>
</html>